@import "tailwindcss";
@import "@fontsource/poppins";
@import "@fontsource/poppins/700.css";
@import "@fontsource/nunito-sans";
@import "@fontsource/nunito-sans/600.css";
@import "@fontsource/nunito-sans/700.css";

body {
  background-color: #111111;
  color: antiquewhite;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.selected-flag {
  background: #272727 !important;
  border-right: none !important ;
}
.flag-dropdown {
  background-color: #272727 !important;
  border-right: black !important;
  border: 1px solid #4b5563 !important;
}
.country-list {
  background-color: #272727 !important;
}

.country {
  background-color: #8d8f92 !important;
}

@keyframes moveClouds {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000px 0;
  }
}

.cloud-bg {
  background: #1e130e;
}

.cloud-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url("https://www.transparenttextures.com/patterns/cloudy.png");
  opacity: 0.1;
  animation: moveClouds 30s linear infinite;
  z-index: 1;
}

.cloud-bg > * {
  position: relative;
  z-index: 10;
}
